@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Lora', serif;
	font-size: 25px;
	margin: 0px;
	color: lightblue;
}
h1, {
	font-family: 'ROBOTO', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 25px;
}

h2, h3 {

	font-family: 'ROBOTO', sans-serif;
	font-weight: bold;
	color: pink;
	font-size: 30px; 
	margin: 50px;
}
a{
	text-decoration: none;
}